
/*-------FONT FACES-------*/

@font-face {
    font-family: shaunSheep;
    src: url("fonts/Shaun the Sheep.ttf") format('embedded-opentype');
}



/*-------ELEMENTS-------*/

* {
	margin: 0;
}

body {
	background: #fffadc;
}

h1 {
	float: left;
	text-indent: -1000px;
}

h1 a {
	background: url("art/logo_egg.jpg") 0 0 no-repeat;
	display: block;
	width: 400px;
	height: 200px;
}

h1 a:hover{
	background: url("art/logo_egg.jpg") -400px 0 no-repeat;
}

h2 {
	font-family: 'Architects Daughter', shaunSheep, cursive;
	font-size: 28pt;
	font-variant: small-caps;
	color: #fff;
	margin-bottom: 20px;
	padding: 5px 20px;
	background: #007d06;
	box-shadow: 2px 2px 4px #000;
}

h4{
	font-family: 'Architects Daughter', shaunSheep, cursive;
	font-size: 18pt;
	font-variant: small-caps;
	color: #fff;
	margin: 20px auto 20px auto;
	padding: 5px 10px;
	background: #0bad13;
	background: -webkit-linear-gradient(left, #007d06 , #fffadc); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #007d06, #fffadc); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #007d06, #fffadc); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #007d06, #fffadc); /* Standard syntax */
	width: 90%;
}

h5 {
	font-variant: small-caps;
	font-size: 14pt;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 100px;
	padding: 5px;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	color: #5e5e5e;
	width: 70%;
}

a, a:link, a:active, a:visited {
	color: #2a9ac4;
	font-weight: bold;

}

a:hover {
	text-decoration: none;
	color: #0bad13;
}
	
address {
	font-variant: small-caps;
	font-style: normal;
	text-align: center;

}

audio {
	display: block;
	text-align: center;
	margin: 0 auto;
}

button {
	border: 1px solid #fff;
	box-shadow: 1px 1px 2px #000;
	background: none;
	margin: 20px;
	padding: 0;
	font-variant: small-caps;
}

button:hover {
	border: 1px solid #999;
	box-shadow: none;
}

fieldset {
	margin-bottom: 15px;
	width: 60%;
}

footer {
	background: #0bad13;
    background: -webkit-linear-gradient(#007d06, #fffadc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#007d06, #fffadc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#007d06, #fffadc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#007d06, #fffadc); /* Standard syntax */	
	border-top: 5px solid #006e05;
	padding-top: 5px;
	margin-top: 20px;
	min-height: 150px;
}

form li {
	list-style: none;
}

form p {
	margin-bottom: 5px;
}

input[type="submit"] {
	margin-right: 10px;
}

legend {
	text-align: right;
	font-variant: small-caps;
	color: #999;
}

nav {
	background: url("art/top_bg.jpg") 0 0;
	width: 100%;
	height: 200px;
}

p input {
	margin-bottom: 5px;
}

video {
	margin: 15px auto;
	text-align: center;
	display: block;
	background: url("art/movieFrame.jpg") center center no-repeat;
	padding-right: 50px;
	padding-left: 50px;
}

/*-------IDS-------*/

#contactForm {
	width: 60%;
	margin: 0 auto;
	box-shadow: 1px 1px 2px #999;
	padding: 15px;
}

#fact01 {
	display: block;
	background: #fdf614;
	background: -webkit-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Safari */
	background: -o-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Standard syntax */		
	height: 60px;
	width: 60px;
	border-radius: 50%;
    -webkit-transition: width 2s, height 2s, background 2s, font-size 2s, border 2s; /* Safari */2;
    transition: width 2s, height 2s, background 2s, font-size 2s, border 2s;
	margin: 20px 0 40px 50px;
	color: #fff;
	text-align: center;
	font-size: 0pt;
	border: 30px solid #fff;
	float: left;
	box-shadow: 1px 1px 1px #999;
}

	#fact01:hover {
		width: 200px;
		height: 250px;
		color: #999;
		font-size: 14pt;
		background: #fff;
		background: -webkit-radial-gradient(circle, #fff, #fff, #f8f8f8); /* Safari */
		background: -o-radial-gradient(circle, #fff, #fff, #f8f8f8); /* Opera 11.6 to 12.0 */
		background: -moz-radial-gradient(circle, #fff, #fff, #f8f8f8); /* Firefox 3.6 to 15 */
		background: radial-gradient(circle, #fff, #fff, #f8f8f8); /* Standard syntax */		
		border: 1px solid #999;
		box-shadow: 2px 2px 4px #000;
		margin-right: 200px;
	}

	#fact01 p{
		position: relative;
		left: 200px;
	}

#fact02 {
	display: block;
	background: #fdf614;
	background: -webkit-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Safari */
	background: -o-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Standard syntax */	
	height: 60px;
	width: 60px;
	border-radius: 50%;
    -webkit-transition: width 2s, height 2s, background 2s, font-size 2s, border 2s; /* Safari */2;
    transition: width 2s, height 2s, background 2s, font-size 2s, border 2s;
	margin: 20px 0 40px 50px;
	color: #fff;
	text-align: center;
	font-size: 0pt;
	border: 30px solid #fff;
	float: left;
	box-shadow: 1px 1px 1px #999;	
}

	#fact02:hover {
		width: 500px;
		height: 100px;
		color: #fff;
		font-size: 14pt;
		background: #0bad13;
		border: 1px solid #0bad13;
		border-radius: 0;
		padding: 10px;
		box-shadow: 2px 2px 4px #000;		
}

#fact03 {
	display: block;
	background: #fdf614;
	background: -webkit-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Safari */
	background: -o-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Standard syntax */	
	height: 60px;
	width: 60px;
	border-radius: 50%;
    -webkit-transition: width 2s, height 2s, background 2s, font-size 2s, border 2s, transform 2s; /* Safari */2;
    transition: width 2s, height 2s, background 2s, font-size 2s, border 2s, transform 2s;
	margin: 20px 0 40px 50px;
	color: #fff;
	text-align: center;
	font-size: 0pt;
	border: 30px solid #fff;
	float: left;
	box-shadow: 1px 1px 1px #999;	
}

	#fact03:hover {
		width: 250px;
		height: 250px;
		color: #000;
		font-size: 14pt;
		background: #fdf614;
		border: 1px solid #fdf614;
		border-radius: 0;
		padding: 10px;
		box-shadow: 2px 2px 4px #999;
		-ms-transform: rotate(7deg); /* IE 9 */
		-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
		transform: rotate(7deg);		
}

#fact04 {
	display: block;
	background: #fdf614;
	background: -webkit-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Safari */
	background: -o-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Firefox 3.6 to 15 */
	background: radial-gradient(circle, #fdf614, #fdf614, #fdd914); /* Standard syntax */	
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin: 20px 0 40px 50px;
	color: #fff;
	text-align: center;
	font-size: 0pt;
	border: 30px solid #fff;
	float: left;
	box-shadow: 1px 1px 1px #999;	
}

	#fact04:hover {
		color: #000;
		width: 300px;
		font-size: 14pt;
		background: none;
		border: none;
		border-radius: 0;
		padding: 10px;
		transform:skew(-10deg,-10deg);
		box-shadow: none;		
	}

#facts {
	clear: both;
}

#f_second {
	display: none;
}

#f_spamInfo {
	font-size: 10pt;
	display: none;
	background-color: #fff;
	box-shadow: 1px 1px 10px #fff;
	text-align: center;
	float: right;
	width: 220px;
	padding: 10px;
	margin-top: -100px;
	border-radius: 20%;
}


#goTo {
	margin-bottom: 10px;
}

#goTo a:hover {
	background-color: #999;	
	box-shadow: 1px 1px 8px #000;
}

#hideNews, #showNews{
	font-weight: bold;
	font-size: 12pt;
	text-decoration: none;
	color: #fff;
	margin: 0 5px;
}

#hideNews:hover, #showNews:hover {
	text-decoration: underline;
}

#home #m_home a, #about #m_about a, #news #m_news a, #recipes #m_recipe a, #contactUs #m_contact a {
	background: url("art/menu_egg.png") -130px 0 no-repeat;
	text-decoration: underline;
	color: #fff715;
	opacity: .80;
    filter: alpha(opacity=80);	
}

#livestream {
	margin: 0 auto;
	text-align: center;
}

#mainContent {
	font-family: Arial, sans-serif;
	background-color: #fffadc;
	margin: 0 auto;
	min-height: 400px;
}

#mainContent p {
	width: 80%;
	margin: 0 auto;
}

#map {
	float: left;
	text-align: center;
}

#menu_top {
	margin-left: 5em;
	float: left;
}

#menu_top li{
	list-style: none;
	display: inline;	
}

	#aboutSub, #recipeSub, #newsSub, #aboutSub ul, #recipeSub ul, #newsSub ul{
		display: none;	
	}
	
#menu_top a {
	text-align: center;
	background: url("art/menu_egg.png") 0 0 no-repeat;	
	width: 70px;
	float: left;
	margin-top: 30px;	
	margin-right: 10px;
	padding-top: 100px;
	text-decoration: none;
	color: #fff;
	font-size: 14pt;
	font-family: arial, sans-serif;
	font-variant: small-caps;
	text-shadow: 1px 1px 1px #000;
}

#menu_top a:hover {
	background: url("art/menu_egg.png") -130px 0 no-repeat;
	text-decoration: underline;
	color: #fff715;
	}

	
	#m_about:hover #aboutSub{
		display: block;
		background-color: #0bad13;
		position: absolute;
		top: 170px;
		margin-left: 70px;
		padding: 10px;
		box-shadow: 2px 2px 2px #000;
		width: 5em;
		border-radius: 0 0 25px 25px;
	}
	
	#m_recipe:hover #recipeSub{
		display: block;
		background-color: #0bad13;
		position: absolute;
		top: 150px;
		margin-left: 220px;
		padding: 10px;
		box-shadow: 2px 2px 2px #000;
		width: 6em;
		border-radius: 0 0 25px 25px;		
	}
	
		#m_news:hover #newsSub{
		display: block;
		background-color: #0bad13;
		position: absolute;
		top: 150px;
		margin-left: 310px;
		padding: 10px;
		box-shadow: 2px 2px 2px #000;
		width: 5em;
		border-radius: 0 0 25px 25px;		
	}
	
	#m_about:hover #aboutSub li, #m_recipe:hover #recipeSub li, #m_news:hover #recipeSub li {
		display: block;
	}

	#m_about #aboutSub a, #m_recipe #recipeSub a, #m_news #newsSub a{
		background-image: none;
		padding: 5px;
		margin: 0;
		border-top: 1px solid #097a0e;
		text-decoration: none;
		color: #fff;
	}

	#m_about #aboutSub a:hover, #m_recipe #recipeSub a:hover, #m_news #newsSub a:hover{
	text-decoration: underline;
	color: #fff715;		
	}
	
#menu_bottom {
	font-family: arial, sans-serif;
	font-size: 10pt;
	text-align: center;
	margin: 5px auto;
}

#menu_bottom a{
	color: #fff;
	text-decoration: none;
	font-variant: small-caps;
}

#menu_bottom a:hover{
	text-decoration: underline;
	color: #fff715;
}

#menu_bottom li {
	list-style-type: none;
	display: inline;
	margin-right: 1em;
}

#newsArticles, #hideNews {
	display: none;
}

#recipe01 {
	width: 950px;
	padding: 15px;
	margin: 0 auto;
	box-shadow: 2px 2px 4px #000;
	outline: 1px dashed #999;
}

.boxshadow #recipe01 {
	border-right: 2px solid #999;
	border-bottom: 2px solid #999;
}

	#recipe01 p, #recipe01 li {
		color: #163796;
		font-family: 'Tekton Pro', sans-serif;
		font-size: 14pt;
	}
	
	#recipe01 strong {
		font-variant: small-caps;
		font-size: 16pt;
		text-decoration: underline;
	}

	#recipe01 video {
		display: block;
		margin: 10px auto;
		text-align: center;
	}

#slider {
	margin: 30px auto;
	text-align: center;
	width: 586px;
	height: 440px;
	box-shadow: 3px 3px 5px #888888;
}

#sliderButtons {
	margin-top: -30px;
}

#sliderButtons a {
	font-family: Arial, sans-serif;
	font-size: 21pt;
	color: #fdf614;
	text-decoration: none;
	text-shadow: 1px 1px 2px #000;	
}

#sliderButtons a:hover {
	color: #999;
	text-shadow: 2px 2px 2px #000;		
}

#stamp {
	font-family: arial, sans-serif;
	font-size: 8pt;
	font-variant: small-caps;
	text-align: center;
	margin: 0 auto;	
}

/*-------CLASSES-------*/
.center {
	text-align: center;
	margin: 0 auto;
}

.clearBoth{
	clear: both;
}

.dot{
	border-radius: 50%;
	padding: 5px;
	background-color: #fdf614;
	font-size: 0;
	box-shadow: 0px 0px 5px #999;
	margin: 0 5px;
}

 .dotGray {
	background-color: #999;	
	box-shadow: 1px 1px 8px #000; 
 }
 
.dropCap {
	font-family: 'Times New Roman', serif;
	font-size: 42pt;
	padding-right: 2px;
	margin-top: -15px;
	float: left;
}


.goLeft {
	margin-right: 250px;
	padding-bottom: 30px;
}

.goRight {

	margin-left: 250px;
	padding-bottom: 30px;
}

.indent {
	margin-left: 20px;
}

.quote {
	background: url("art/quote.png") 0 0 no-repeat;
	font-style: italic;
	color: #777;
	width: 80%;
	padding-top: 20px;
	padding-left: 50px;
	margin-bottom: 20px;
}

 .small10 {
	 font-size: 10pt;
 }
 
.newsImg {
	float: left;
	box-shadow: 2px 2px 5px #000;
	margin: 10px 10px 10px 0;
}

 .right {
	 text-align: right;
 }
 
 .skewNote {
	 transform:skew(10deg,10deg);
 }
 
 .width60 {
	 width: 60%;
 }
 
>>>>>>> Project-4
